h1 { 
    color: rgb(110, 110, 110);
    text-align: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5% 20px 20px 20px;
    margin: auto;
  }

ol {
    list-style: none;
    text-align: center;
    justify-content: left;
} 
body {
    background-color: rgb(243, 236, 226);

    align-items: center;
    display:flex;
    flex-direction: column;
}

#inputs {
    display: flex;
    flex-direction: row;
    padding:10px;
}


#container {
    display:flex;
    width:700px;
    /* flex-direction: column; */
    padding:30px;
    margin-top:10px;
    border: solid 2px rgb(179, 179, 179);
    /* justify-content: flex-start; */

}

ol {
    display:flex;
    flex-direction: column;
    color: rgb(109, 109, 109);

}

#toDoList li {
    display: flex;
    /* align-items: center; */
}

#toDoList li input[type="checkbox"] {
    margin-right:10px;
}
#footer {
    display:flex;
    width:600px;
    align-self: flex-end;
    justify-content: flex-end;
    

}